.about-container {
  padding-top: 7em;
  background-color: var(--blue);
}

.about-title-container {
  text-align: center;
}

.about-title {
  color: var(--white);
}

.about-img {
  width: 100%;
  margin-bottom: 2em;
  box-shadow: -2px -2px 5px 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.about-img-text-container {
  background: var(--white);
  padding: 0em 1em;
  padding-bottom: 1em;
  text-justify: inter-word;
  padding-top: 3em;
}

.gradient-background {
  background: linear-gradient(180deg, var(--blue) 15%, var(--white) 10%);
}

@media screen and (min-width: 768px) {
  .about-img-text-container {
    padding: 1em 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-container {
    padding-top: 12em;
  }

  .about-title-container {
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .about-img-text-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "column-1 column-2";
    padding: 2em 10%;
    gap: 2em;
  }

  .about-p {
    background-color: rgb(243, 243, 243);
    padding: 1em;
    border-radius: 5px;
  }
}
